.work__categories {
    margin: 40px;
}

.work__categories__btn {
    border: 1px solid var(--color-dark-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
    position: relative;
    /*  category__count 위치의 기준을 만들기 위해 */
}

/*  work__categories__btn에 selected가 있을 때와
    work__categories__btn이 hover일 때 적용 */
.work__categories__btn.selected,
.work__categories__btn:hover {
    background-color: var(--color-light-grey);
    color: var(--color-white);
}

.category__count {
    background-color: var(--color-orange);
    border-radius: 50%;
    color: var(--color-white);
    width: 24px;
    height: 24px;
    line-height: 24px;

    display: inline-block;

    /* position이 relative인 부모 기준 배치를 위해 */
    position: absolute;
    top: -20px;
    right: 16px;

    /* 투명도 조절로 0~1 값을 가지며 0은 화면에 보이지 않도록 설정 */
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
}

.work__categories__btn.selected .category__count,
.work__categories__btn:hover .category__count {
    opacity: 1;
    top: 0;
}

.work__project {
    /* 창의 최대 넓이 지정 : 1200px */
    max-width: 1200px;
    margin: auto;
    display: flex;
    /* 기본 축이 row이므로 수평축 기준으로 가운데 정렬 */
    justify-content: center;
    /* 화면이 줄어들면 자동 줄바꿈 */
    flex-wrap: wrap;
    transition: all var(--animation-duration) ease-out;
    opacity: 1;
}

.work__project.anim-out {
    opacity: 0;
    transform: scale(0.96) translateY(40px);
}

.project {
    /* project__description이 project 박스의 왼쪽 상단에 위치 하기 위해 */
    position: relative;
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color: var(--color-light-white);
    /* 이미지 중간 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.project.invisible {
    display: none;
}

.project__img {
    max-width: 100%;
    max-height: 100%;
}

.project__description {
    position: absolute;
    /* 애니메이션 효과로 호버 시 보여줄 내용이 아래에서 위로 올라오도록 */
    top: 10px;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    /* column(수직) 축을 기준으로 요소를 한줄로 세움 */
    flex-direction: column;
    /* column(수직) 축이 기준으로 가운데 정렬*/
    justify-content: center;
    /* 애니메이션 효과 */
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
}

/* .project__description:hover {
  top: 0;
  opacity: 0.8;
} */

/* 위 주석과 동일 */
.project:hover .project__description {
    opacity: 0.8;
    top: 0;
}

.project__description h3 {
    color: var(--color-orange);
}

.project__description span {
    color: var(--color-white);
}

.project__description h3:after {
    content: "";
    display: block;
    position: relative;
    left: 50%;
    width: 50px;
    height: 2px;
    transform: translateX(-50%);
    margin-top: 8px;
    background-color: var(--color-dark-white);
}