@media screen and (max-width: 768px) {

    .about__majors {
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .major {
        margin: 30px;
    }

    .about__major__icon {
        margin: auto;
    }

}